@font-face {
    font-family: "Helvetica Light";
    src: url(HELVETICA_ULTIMATE_FAMILY_FONTS/Helvetica-Light.otf);
}

@font-face {
    font-family: "Helvetica Medium";
    src: url(HELVETICA_ULTIMATE_FAMILY_FONTS/Helvetica.otf);
}

html,
body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-background {
    display: block;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    font-size: 13px;
    font-family: "Helvetica Light";
    color: #787878;
    background-color: #2b2b2b;
    text-align: left;
}

.container-center {
    display: block;
    margin: auto;
    background-color: white;
    max-width: 78%; /* 78% */
    min-height: 100%;
    box-shadow: 20px 0px 50px 0px black;
}

.container-img {
    display: block;
    margin: auto;
    padding: 0;
}

.row-top {
    height: 80px; /* 13% */
    text-align: left;
    padding: 27px; /* 3% */
}

.row-no-margin {
    margin: 0;
}

.row-margin {
    margin-top: 0;
    margin-bottom: 50px; /* 8% */
    margin-left: 0;
    margin-right: 0;
}

.row-margin-small {
    margin-top: 0;
    margin-bottom: 30px; /* 7.5% */
    margin-left: 0;
    margin-right: 0;
}

.row-bottom-margin {
    margin-bottom: 60px; /* 14.5% */
}

.row-side-margin {
    margin-left: 10%; /* 10% */
    margin-right: 10%; /* 10% */
}

.row-side-margin-small {
    margin-left: 5%; /* part of 10% */
    margin-right: 5%; /* part of 10% */
}

p {
    /* margin: 0; */
}

p.title {
    font-family: "Helvetica Medium";
    color: #494949;
    text-align: center;
}

p.title-left {
    font-size: 20px;
    font-family: "Helvetica Light";
    color: #494949;
    text-align: left;
}

p.title-left-small {
    font-family: "Helvetica Medium";
    color: #494949;
    text-align: left;
}

p.title-reverse {
    font-family: "Helvetica Light";
    color: white;
    background-color: #9e9e9f;
    text-align: center;
    line-height: 120px; /* 13.75% */
}

.img-logo {
    max-height: 100%;
    max-width: 100%;
}

.img-center {
    display: block;
    margin: auto;
    width: 100%;
    padding: 0;
}

.img-banner-small {
    display: block;
}

.img-banner {
    display: none;
}

.padding-side-5 {
    padding-right: 5%; /* part of 10% */
    padding-left: 5%; /* part of 10% */
}

.list-bullet {
    list-style-type: disc;
    margin-left: -15px;
}

.button-wrapper {
    display: none;
}
